/* h1{
    color: brown;
   font-size: 40px;
   position: relative;
   left: -400px;
   padding: 30px;
} */
.jumbotron{
    color: brown;
   font-size: 40px;
   position: relative;
   left: -400px;
   /* padding: 30px; */
}