<div class= "container">
    
    <!-- <div class="row"> -->
      <!-- <div class="col-md-6"> -->
        <app-profile-form></app-profile-form>
        <a href="{{user.html_url}}" class="btn btn-primary" id="view">view the Github link here</a>
        <!-- <p>{{repository.public_repository}}</p> -->
      <!-- </div> -->
      <div class="search">
      <!-- <div class="col-md-6"> -->
        <table >
            <tr>
                <img src="{{user.avatar_url}}" >
              </tr>
          <tr>
            <td >Github username: </td>
            <td class="label">{{user.login}}</td>
          </tr>
          <tr>
            <td >Repositories: </td>
            <td class="label">{{user.public_repository}}</td>
          </tr>
          <tr>
            <td >Following: </td>
            <td class="label">{{user.following}}</td>
          </tr>
          <tr>
            <td >Followers: </td>
            <td class="label">{{user.followers}}</td>
          </tr>
          <tr>
            <td >Created At: </td>
            <td class="label">{{user.created_at}}</td>
          </tr>
          
          </table>
      </div>
    
  <!-- </div> -->
</div>