.btn-danger{
    position: relative;
    left: -50px;
}
td{
    padding: 10px;
}
.search{
    padding-top: 100px;
    position: relative;
    right: -280px;
    padding: 60px;
}
.container{
    background-color: antiquewhite;
    position: relative;
    left: -300px;
    padding: 30px;
}